body,h1,h2,h3,h4,h5,h6 {
    font-family: Righteous, sans-serif;
}

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

/* all images */
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.group-img{
    width: 40%;
    height: 300px;
}

.member-img{

}