body,h1,h2,h3,h4,h5,h6 {
    font-family: Righteous, sans-serif;
}

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.four-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

/* all images */
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.one-column{
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 2em;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

/*group image*/
.group-img{
    width: 600px;
    height: 400px;
    object-fit: cover;
}

/*member image*/
.member-image{
    width: 467px;
    height: 500px;
    object-fit: cover;
}

.group-top{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.group-top .card{
    flex: 1;
}

.group-top iframe{
    flex-shrink: 0;
}

/*default group page*/
.group-page{
    color: black;
}

/*aespa page*/
.group-aespa{
    
}