body,h1,h2,h3,h4,h5,h6 {
    font-family: Righteous, sans-serif;
}

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.four-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.one-column{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

/* all images */
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*group image*/
.group-img{
    width: 100%;
    max-width: 720px;
    height: 400px;
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

/*member image*/
.member-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* group page layout */

.group-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
}

.group-top .card{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* columns */

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}

/* youtube video */

.video-wrapper{
    width: 100%;
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
}

.video-wrapper iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/*default group page*/
.group-page{
    color: black;
}

/*aespa page*/
.group-page.aespa{
    color: rgb(255, 0, 0);
}

.group-page.lesserafim{
    color: rgb(186, 160, 135);
}

.group-page.enhypen{
    color: rgb(187, 14, 44);
}

.group-page.straykids{
    color: rgb(255, 110, 199);
}