{% extends "layout.html" %}
{% block body %}
<h1>Group</h1>
<div class="two-column"></div>

    <div class="w3-card-4 card">
        <img class="group-img" src="{{ group[4] }}" alt="{{ group[0] }}">
        <h3>{{ group[0] }}</h3>

        <div class="info">
        <h2>Group Name: {{ group[0] }} </h2>
        <h2>Top Songs: {{ group[1] }}</h2>
        <h2>Debut Date: {{ group[2] }}</h2>
        </div>
    </div>

<h1>Members</h1>

<div class="three-column">

    {% for member in members %}

    <div class="w3-card-4 card">
        <img class="member-image" src="{{ member[1] }}" alt="{{ member[0] }}">
        <h3>{{ member[0] }}</h3>

        <div class="info">
            <p><strong>Birth Name:</strong> {{ member[2] }}</p>
            <p><strong>Birth Date:</strong> {{ member[3] }}</p>
            <p><strong>Nationality:</strong> {{ member[4] }}</p>
            <p><strong>Position:</strong> {{ member[5] }}</p>
            <p><strong>Fun Fact:</strong> {{ member[6] }}</p>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}