{% extends "layout.html" %}
{% block body %}
<!--home page goes here-->
    <!--shared header and nav bar-->
<div class="hero">
    <div class="title">
        <h1>Korean Music Bands</h1>
        <p>Explore popular K-pop groups, members, songs, and learning videos.</p>
    </div>
</div>


<!--3 column grid-->
 <div class="three-column">
    {% for Group in results %}
    <a href="{{url_for('Group', id=Group[0])}}">
        <div class="w3-card-4 card">
            <!--the name then the image-->
            <h1>{{ Group[1] }}</h1>
            <img src="{{ Group[4] }}" alt="{{ Group[1] }}">
        </div>
    </a>

    {% else %}

    <h2>No groups found.</h2>
    <p>Try searching for another group</p>

    {% endfor %}

 </div>


{% endblock %}