{% extends "layout.html" %}
{% block body %}


<!-- Home page -->
<div class="hero">
    <div class="title">
        <h1>Korean Music Bands</h1>
        <p>Explore popular K-pop groups, members, songs, and learning videos.</p>
    </div>
</div>




<!-- 3 column grid -->
<div class="three-column">


    {% for group in results %}


    <a href="{{ url_for('group', group_id=group[0]) }}">
        <div class="w3-card-4 card">


            <!-- Group name -->
            <h1>{{ group[1] }}</h1>


            <!-- Group image -->
            <img src="{{ group[4] }}" alt="{{ group[1] }}">


        </div>
    </a>


    {% else %}


    <h2>No groups found.</h2>
    <p>Try searching for another group.</p>


    {% endfor %}


</div>


{% endblock %}

