{% extends "layout.html" %}
{% block body %}
<!--home page goes here-->
<!--search bar-->
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/?type=Boy Group">Boy Groups</a>
        <a href="/?type=Girl Group">Girl Groups</a>

    <form method="GET">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit">Search</button>
    </form>    
</div>

<!--3 column grid-->
 <div class="three-column">
    {% for Group in results %}
    <a href="{{url_for('Group', id=Group[0])}}">
        <div class="w3-card-4 card">
            <!--the name then the image-->
            <h1>{{ Group[1] }}</h1>
            <img src="{{ Group[4] }}" alt="{{ Group[1] }}">
        </div>
    </a>

    {% else %}

    <h2>No groups found.</h2>
    <p>Try searching for another group</p>

    {% endfor %}

 </div>


{% endblock %}