<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    <title>Korean Music Bands</title>
</head>
<body class="w3-container"> 

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/?type=Boy Group">Boy Groups</a>
        <a href="/?type=Girl Group">Girl Groups</a>
        <a href="/companies">Companies</a>

        {% if session.get("username") %}
            <span>Welcome, {{ session["username"] }}</span>
            <a href="/logout">Logout</a>
        
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>

        {% endif %}

    <!--search bar-->
    <form method="GET" action="/">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit">Search</button>
    </form>    
</div>
    {% block body %}
    {% endblock %}
</body>
</html>